# Kubernetes cluster settings
KUBERNETES_CLUSTER_NAME=msinit
KUBERNETES_NAMESPACE=msinit
KUBERNETES_SERVICE_IMAGE=kubernetesservice:local
# Generate with: head /dev/urandom | tr -dc A-F0-9 | head -c32
KUBERNETES_CICD_TOKEN=change-me

# Options are [disabled, local, public]
AUTHSERVICE_INGRESS_MODE=disabled
AUTHSERVICE_LOCAL_NODE_PORT=30001

GATEWAYSERVICE_INGRESS_MODE=disabled
GATEWAYSERVICE_LOCAL_NODE_PORT=30081

EMAILSERVICE_INGRESS_MODE=disabled
EMAILSERVICE_LOCAL_NODE_PORT=30005

FILESERVICE_INGRESS_MODE=disabled
FILESERVICE_LOCAL_NODE_PORT=30010

VAULTSERVICE_INGRESS_MODE=disabled
VAULTSERVICE_LOCAL_NODE_PORT=30020

TELEMETRYSERVICE_INGRESS_MODE=disabled
TELEMETRYSERVICE_LOCAL_NODE_PORT=30050

LOGGERSERVICE_INGRESS_MODE=disabled
LOGGERSERVICE_LOCAL_NODE_PORT=30030

REACTSERVICE_INGRESS_MODE=disabled
REACTSERVICE_LOCAL_NODE_PORT=30080

JENKINSSERVICE_INGRESS_MODE=disabled
JENKINSSERVICE_LOCAL_NODE_PORT=30100

VPNSERVICE_INGRESS_MODE=disabled
VPNSERVICE_LOCAL_NODE_PORT=30040
# Public ingress settings
# These must be set if INGRESS_MODE is public
AUTHSERVICE_INGRESS_HOST=
AUTHSERVICE_INGRESS_TLS_SECRET_NAME=

GATEWAYSERVICE_INGRESS_HOST=
GATEWAYSERVICE_INGRESS_TLS_SECRET_NAME=

EMAILSERVICE_INGRESS_HOST=
EMAILSERVICE_INGRESS_TLS_SECRET_NAME=

FILESERVICE_INGRESS_HOST=
FILESERVICE_INGRESS_TLS_SECRET_NAME=

VAULTSERVICE_INGRESS_HOST=
VAULTSERVICE_INGRESS_TLS_SECRET_NAME=

TELEMETRYSERVICE_INGRESS_HOST=
TELEMETRYSERVICE_INGRESS_TLS_SECRET_NAME=

LOGGERSERVICE_INGRESS_HOST=
LOGGERSERVICE_INGRESS_TLS_SECRET_NAME=

REACTSERVICE_INGRESS_HOST=
REACTSERVICE_INGRESS_TLS_SECRET_NAME=

JENKINSSERVICE_INGRESS_HOST=
JENKINSSERVICE_INGRESS_TLS_SECRET_NAME=

VPNSERVICE_INGRESS_HOST=
VPNSERVICE_INGRESS_TLS_SECRET_NAME=
